@font-face {
    font-family: Aqib;
    src: url(font/DancingScript-Bold.ttf);
}
@font-face {
    font-family: lobster;
    src: url(font/Teko-Regular.ttf)
}
body {
    background-color: #34353a;
}
.navbar {
    width: 100%;    
}
.logo {
    margin-left: 30px;
    font-size: 32px;
    font-weight: 700;
    color: #ffc86b;
}
.dot {
    color:#f9f9f9;
    font-size:2.75rem;
}
.collapse {
    margin-left: 800px;
    margin-top: 10px;
    font-weight: 500;
}
.nav-item {
    margin-right: 5px;
    cursor: pointer;
}
.nav-link {
    color:#b6b7b7 !important;
}
.nav-link:hover {
    color: #ffffff !important;
}
.nav-link:focus {
    color: #ffffff !important;
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler-icon {
    background-image: url(images/newtoogler.svg) !important;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    color: #ffffff !important;
    color: rgb(255, 200, 107);
}
.main {
    background-image: url(images/mybackground.png);
    background-position: 85%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 19px;
}
.main-heading {
    color: #f8f8f9;
    font-weight: lighter;
    font-size: 60px;
    line-height: 90px;
}
.yellow {
    color: #ffc86b;
    font-size: 6.85rem;
    font-weight: 500;
    font-family: lobster;
}
.main-paragraph {
    color: #f8f8f9;
    font-weight: 300;
    width: 75ch;
    text-align: center;
}
.latest-assignment {
    --color: #ffc86b;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #ffc86b;
    height: 45px;
    width: 200px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    color: var(--color);
    z-index: 0;
}
.latest-assignment::before,
.button::after {
    content: '';
    display: block;
    width: 0px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.latest-assignment::before {
    top: -1em;
    left: -1em;
}

.latest-assignment::after {
    left: calc(100% + 10px);
    top: calc(100% + 10px);
}

.latest-assignment:hover::before,
.button:hover::after {
    height: 430px;
    width: 435px;
}

.latest-assignment:hover {
    color: #34353a;
}

.latest-assignment:active {
    filter: brightness(.8);
}
.main-pic {
    width: 100%;
    height: 100%;
    display: none;
}
.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.line {
    height: 115px;
    width: 3px;
    background-color: #ffc86b;
    margin: 0px auto;
    margin-top: 365px;
    display: block;
}
.contact {
    color: #ffffff;
    list-style: none;
    padding: 0;
    margin-top: 15px;
    font-size: 25px;
    display: block;
}
@media only screen and (max-width: 992px) {
    .navbar {
        height: auto;
    }

    .myitems {
        text-align: center;
    }

    .navbar-collapse {
        text-align: center;
    }
    .collapse {
        margin-left: 0px;
        margin-top: 0px;
        font-weight: 500;
    }
    .logo {
    margin-left: 0px;
    font-size: 32px;
    font-weight: 700;
    color: #ffc86b;
    }
    .main-paragraph {
        color: #f8f8f9;
        font-weight: 300;
        width: 65ch;
        text-align: start;
    }

.main-heading {
    color: #f8f8f9;
    font-weight: lighter;
    font-size: 32px;
}
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding-left: 12px;
    text-align: start;
}
.main-paragraph {
    color: #f8f8f9;
    font-weight: 300;
    width: 45ch;
}
}
@media only screen and (max-width: 576px) {
    .main {
        text-align: center;
        margin-top: 0px;
        padding: 0;
        height: 80vh;
        background-position: right;
    }
    .main-pic {
        width: 100%;
        height: 100%;
        display: none;
    }
    .main-heading {
        color: #f8f8f9;
        font-weight: lighter;
        font-size: 28px;
        line-height: 60px;
    }
    .yellow {
        color: #ffc86b;
        font-size: 4.1rem;
        font-weight: 500;
        font-family: lobster;
    }
    .main-paragraph {
        color: #f8f8f9;
        font-weight: 300;
        text-align: center;
        width: 45ch;
    }
    .main-contact {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
    .line {
        height: 115px;
        width: 3px;
        background-color: #ffc86b;
        margin: 0px auto;
        margin-top: 280px;
    }
    .contact {
        color: #ffffff;
        list-style: none;
        padding: 0;
        margin-top: 15px;
        font-size: 25px;
    }
}
@media only screen and (max-width: 388px) {
    .main {
        padding: 0;
        margin-top: 0px;
        height: 60vh;
        overflow: hidden;
        background-position: center;
    }
    .main-paragraph {
        color: #f8f8f9;
        font-weight: 300;
        width: 42ch;
        font-size: 15px;
    }
    .main-heading {
        color: #f8f8f9;
        font-weight: lighter;
        font-size: 28px;
    }
    .yellow {
        color: #ffc86b;
        font-size: 3.55rem;
        font-weight: 500;
        font-family: lobster;
    }
    .latest-assignment {
        --color: #ffc86b;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        background-color: transparent;
        border: 3px solid #ffc86b;
        height: 45px;
        width: 150px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .5s;
        color: var(--color);
        z-index: 0;
    }
    .main-contact {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
    .line {
        height: 115px;
        width: 3px;
        background-color: #ffc86b;
        margin: 0px auto;
        margin-top: 365px;
        display: none;
    }
    .contact {
        color: #ffffff;
        list-style: none;
        padding: 0;
        margin-top: 15px;
        font-size: 25px;
        display: none;
    }
}