@font-face {
    font-family: Aqib;
    src: url(font/DancingScript-Bold.ttf);
}
@font-face {
    font-family: lobster;
    src: url(font/Teko-Regular.ttf)
}
body {
    background-color: #31333b;
}
.navbar {
    width: 100%;  
    background-color: #34353a;  
}
.logo {
    margin-left: 30px;
    font-size: 32px;
    font-weight: 700;
    color: #ffc86b;
}
.dot {
    color:#f9f9f9;
    font-size:2.75rem;
}
.collapse {
    margin-left: 800px;
    margin-top: 10px;
    font-weight: 500;
}
.nav-item {
    margin-right: 5px;
    cursor: pointer;
}
.nav-link {
    color:#b6b7b7 !important;
}
.nav-link:hover {
    color: #ffffff !important;
}
.nav-link:focus {
    color: #ffffff !important;
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler-icon {
    background-image: url(images/newtoogler.svg) !important;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    color: #ffffff !important;
    color: rgb(255, 200, 107);
}
.main {
    background-color: #34353a;
    background-image: url(images/back1-01.jpeg);
    background-position: 85%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 19px;
}
.main-heading {
    color: #f8f8f9;
    font-weight: lighter;
    font-size: 60px;
    line-height: 50px;
}
.yellow {
    color: #ffc86b;
    font-size: 6.85rem;
    font-weight: 500;
    font-family: lobster;
}
.main-paragraph {
    color: #f8f8f9;
    font-weight: 300;
    width: 58ch;
    font-size: 1.5rem;
    text-align: center;
}
.latest-assignment {
    --color: #ffc86b;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #ffc86b;
    height: 45px;
    width: 200px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    color: var(--color);
    z-index: 0;
}
.latest-assignment::before,
.button::after {
    content: '';
    display: block;
    width: 0px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.latest-assignment::before {
    top: -1em;
    left: -1em;
}

.latest-assignment::after {
    left: calc(100% + 10px);
    top: calc(100% + 10px);
}

.latest-assignment:hover::before,
.button:hover::after {
    height: 430px;
    width: 435px;
}

.latest-assignment:hover {
    color: #34353a;
}

.latest-assignment:active {
    filter: brightness(.8);
}
.main-pic {
    width: 100%;
    height: 100%;
    display: none;
}
.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.line {
    height: 115px;
    width: 3px;
    background-color: #ffc86b;
    margin: 0px auto;
    margin-top: 365px;
    display: block;
}
.contact {
    color: #ffffff;
    list-style: none;
    padding: 0;
    margin-top: 15px;
    font-size: 25px;
    display: block;
}
.about-me {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
}
.about-pic {
    width: 40%;
}
.about-pic img {
    margin-top: 50px;
    text-align: left;
    margin-left: 30px;
    width: 100%;
}
.about-section {
    color: #f8f8f9;
    display: flex;
    flex-direction: column;
    justify-content:start;
    margin-left: 20px;
    margin-top: 65px;
    width: 70%;
    /* width: 50%; */
    /* padding: 80px 80px; */
}
.about-heading {
    font-size: 2.67rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    border-bottom: 3px solid #ffc86b;
    width: 300px;
    line-height: 60px;
}
.about-paragraph {
    color: #b6b7b7;
    width: 87%;
}
.CV {
    --color: #ffc86b;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #ffc86b;
    height: 45px;
    width: 200px;
    margin-top: 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    color: var(--color);
    z-index: 0;
}
.CV::before,
.button::after {
    content: '';
    display: block;
    width: 0px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.CV::before {
    top: -1em;
    left: -1em;
}

.CV::after {
    left: calc(100% + 10px);
    top: calc(100% + 10px);
}

.CV:hover::before,
.button:hover::after {
    height: 430px;
    width: 435px;
}

.CV:hover {
    color: #34353a;
}

.CV:active {
    filter: brightness(.8);
}
.Assignment {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
    overflow-x: auto;
    padding-block: 2rem;
}
.Assignment::-webkit-scrollbar {
    height: 0.35rem;
}
.Assignment::-webkit-scrollbar-track {
    background-color: #b6b7b7;
    border-radius: 100vw;
}
.Assignment::-webkit-scrollbar-thumb {
    background-color: #ffc86b;
    border-radius: 100vw;
}
.check {
    --color: #ffc86b;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffc86b;
    height: 500px;
    width: 350px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 50px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .0s;
    color: var(--color);
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 19px;
}
.check::before,
.button::after {
    content: '';
    display: block;
    width: 440px;
    height: 30px;
    transform: translate(-10%, -100%);
    position: absolute;
    border-radius: 0%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.check::before {
    top: 545px;
    left: 25px;
}

.check::after {
    left: calc(100% + 10px);
    top: calc(1000% + 10px);
}

.check:hover::before,
.button:hover::after {
    height: 800px;
    width: 1000px;
}

.check:hover {
    color: #34353a;
}

.check:active {
    filter: brightness(.8);
}
@media only screen and (max-width: 992px) {
    .navbar {
        height: auto;
    }

    .myitems {
        text-align: center;
    }

    .navbar-collapse {
        text-align: center;
    }
    .collapse {
        margin-left: 0px;
        margin-top: 0px;
        font-weight: 500;
    }
    .logo {
    margin-left: 0px;
    font-size: 32px;
    font-weight: 700;
    color: #ffc86b;
    }
    .main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height:100vh;
        padding-left: 12px;
        text-align: start;
    }
    .main-paragraph {
        color: #f8f8f9;
        font-weight: 300;
        width: 40ch;
        text-align: start;
    }

.main-heading {
    color: #f8f8f9;
    font-weight: lighter;
    font-size: 32px;
    line-height: 65px;
}
.about-me {
    height: auto;
}
.about-paragraph {
    width: 100%;
}
}
@media only screen and (max-width: 576px) {
    .main {
        text-align: center;
        margin-top: 0px;
        padding: 0;
        height: 100vh;
        background-position: right;
    }
    .main-pic {
        width: 100%;
        height: 100%;
        display: none;
    }
    .main-heading {
        color: #f8f8f9;
        font-weight: lighter;
        font-size: 28px;
        line-height: 20px;
    }
    .yellow {
        color: #ffc86b;
        font-size: 4.1rem;
        font-weight: 500;
        font-family: lobster;
    }
    .main-paragraph {
        color: #f8f8f9;
        font-weight: 300;
        text-align: center;
        width: 29ch;
    }
    .main-contact {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
    .line {
        height: 115px;
        width: 3px;
        background-color: #ffc86b;
        margin: 0px auto;
        margin-top: 280px;
    }
    .contact {
        color: #ffffff;
        list-style: none;
        padding: 0;
        margin-top: 15px;
        font-size: 25px;
    }
    .about-me {
        display: flex;
        justify-content: center;
        height: auto;
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    .about-section {
        color: #f8f8f9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-top: 28px;
        width: 100%;
        /* width: 50%; */
        padding: 0px 20px;
    }
    .about-heading {
        font-size: 2.67rem;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
        text-align: start;
        border-bottom: 3px solid #ffc86b;
        width: 298px;
        text-align: center;
        line-height: 70px;
    }
    .about-paragraph {
        width: unset;
        text-align: center;
    }
    .CV {
        --color: #ffc86b;
        font-weight: 500;
        text-transform: uppercase;
        background-color: transparent;
        border: 3px solid #ffc86b;
        height: 45px;
        width: 200px;
        margin-top: 10px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .5s;
        color: var(--color);
        z-index: 0;
    }
    .about-pic {
        width: 100%;
    }
    .about-pic img {
        margin-top: 0px;
        text-align: left;
        margin-left: 0px;
        width: 100%;
    }
}
@media only screen and (max-width: 388px) {
    .main {
    padding: 0;
    margin-top: 0px;
    height: 80vh;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-position: center;
}
    .main-paragraph {
        color: #f8f8f9;
        font-weight: 300;
        width: 42ch;
        font-size: 22px;
    }
    .main-heading {
        color: #f8f8f9;
        font-weight: lighter;
        font-size: 28px;
        line-height: 24px;
    }
    .yellow {
        color: #ffc86b;
        font-size: 3.55rem;
        font-weight: 500;
        font-family: lobster;
    }
    .latest-assignment {
        --color: #ffc86b;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        background-color: transparent;
        border: 3px solid #ffc86b;
        height: 45px;
        width: 150px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .5s;
        color: var(--color);
        z-index: 0;
    }
    .main-contact {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
    .line {
        height: 115px;
        width: 3px;
        background-color: #ffc86b;
        margin: 0px auto;
        margin-top: 365px;
        display: none;
    }
    .contact {
        color: #ffffff;
        list-style: none;
        padding: 0;
        margin-top: 15px;
        font-size: 25px;
        display: none;
    }
    .about-heading {
        font-size: 2.67rem;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
        text-align: start;
        border-bottom: 3px solid #ffc86b;
        width: 235px;
        text-align: center;
        line-height: 70px;
    }
}