body {
    background-color: #1b1b1b;
}
ul,ol,p,div {
    color: moccasin;
}
h1,h2,h3 {
    color: #c1996b;
}
hr {
    border-block-color: #c1996b;
}
.top {
    fill: #c1996b;
}
.homeicon {
    background-color: #c1996b;
}
strong {
    color: #c1996b;
}
.EXCLUSIVE {
    color: moccasin;
}
a {
    color: moccasin;
    text-decoration: none;
}
b {
    color: #c1996b;
}

@font-face {
    font-family: KING;
    src: url(FONT/IMFellDoublePicaSC-Regular.ttf);
}

.head {
    letter-spacing: 20px;
    font-size:270%;
    font-family: KING;
}
.in {
    display: inline-flex;
    width: 97%;
}
.facebook {
    fill:#385898
}
.insta {
    fill: rgba(241, 204, 35, 0.849);
}
.linkdin {
    fill: #0a66c2;
}
.twitter{
    fill: #1d9bf0;
}
.github{
    fill: black;
}




